<!DOCTYPE html>
<html>
<head>
	<title>Transaction Mail</title>
</head>
<body>
<h2>Hi {{username}},</h2>
<p>Thanks for using GkMit Bank Demo App. </p>
<p>This email is the receipt for your transaction of {{trans_type}} payment {{trans_amount}}.</p>

<p>This purchase will appear as “{{label}}” on your statement of date {{date}}.</p>

<p>Thanks for your support! </p>
<b>Your total available bank account is {{amount_total}}</b>

<br>
<br>
<br>
If you have any questions about this receipt, simply reply to this email or reach out to our support team for help.

Cheers,
The GkMit Team
</body>
</html>